header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    scroll-margin-top: 20rem    ;
}
header .header__left{
    max-width: 62rem;
    flex: 1;
}
/* teste de git*/